.color-body{
    height: 100vh;
    background-color: rgb(250, 251, 252);
}
.font{
    font-family: "Almarai", sans-serif;
    font-size: 20px;
}
.almarai-light {
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .almarai-regular {
    font-family: "Almarai", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .almarai-bold {
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .almarai-extrabold {
    font-family: "Almarai", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
.regtangle{
    height: 400px;
    border-radius: 15px;
    background-color: #f8f8f8;
    box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, .25);
}
.date-count{
    color: gray;
    font-weight: 600;
    margin-bottom: 20px;
}
.img-avatar{
    width: 60px;
    height: 60px;
    border-radius:50%;
}
